---
layout: base
---

<div class="notfound">
  <h1>404 File Not Found</h1>

  <a id="report_button" class="button" target="_blank" href="https://gitlab.com/floodlight/floodlight.gitlab.io/issues/new">Report broken link</a>

  <script type="text/javascript">
    var button = document.getElementById("report_button");
    var description = `<!--Before submitting, please describe the following:
- What page led you to this link
- What you expected to see on this page

Thank you for taking time out of your day to help make Floodlight better!
-->`;
    button.href += "?issue[title]=" + encodeURIComponent("[Broken Link] " + window.location.href) + "&issue[description]=" + encodeURIComponent(description);
  </script>
</div>
