---
layout: home
title: Floodlight
---

<h1>Free church presentation software <br/> <b>that puts worship first</b></h1>


<div class="heres-how">
  <div>
    <h3>User-Friendly Design</h3>
    <p>With its simple, intuitive design, any volunteer&mdash;tech-savvy or
      not&mdash;can learn to operate Floodlight.</p>
    <a href="/presenter/usermanual/getting-started/your-first-playlist.html">Getting Started</a>
  </div>

  <div>
    <h3>Minimizes Mistakes</h3>
    <p>Going hand-in-hand with user friendliness, Floodlight is designed to
      minimize mistakes and distractions during worship. It avoids doing
      unexpected things, and it tries its best to ensure a smooth presentation.
    </p>
    <a href="/design-principles">Design Principles</a>
  </div>

  <div>
    <h3>Free and Open Source</h3>
    <p>Floodlight is <em>completely free</em>, so your ministry can spend limited
      funds on other things. It is a project created by the community that uses
      it.</p>
    <a href="/get-involved">How to Get Involved</a>
  </div>
</div>


<h2>Features</h2>

<h3>Media & Video</h3>
<p>Using the amazing GStreamer and FFmpeg libraries, Floodlight can play the
  vast majority of audio/video formats out of the box.</p>

<h3>Multi-Monitor Support</h3>
<p>Connect as many screens as you want (as many as your computer has ports for)
  and Floodlight can use them. Each can be a "primary" or "stage view" screen.
</p>

<h3>Stage View</h3>
<p>The stage view is designed to be as useful as possible. It always shows the
  most relevant information, no configuration needed.</p>

<div class="gallery">
  {%- for screenshot in site.data.screenshots -%}
    <a href="/assets/screenshots/{{ screenshot }}.png" target="_blank">
      <img src="/assets/screenshots/{{ screenshot }}-small.png" width="320" height="180"/>
    </a>
  {%- endfor -%}
</div>

<div>
  <h2>Download</h2>
  <span class="downloads-box">
    {%- include downloads.html -%}
  </span>
</div>
