<ul class="downloads">
{%- for dl in site.data.downloads -%}

<li>
  <a href="{{ dl.link }}">
    {{ dl.platform }}

    {%- if dl.distribution -%}
      &nbsp;<span class="dl-distribution">({{ dl.distribution }})</span>
    {%- endif -%}
  </a>
</li>

{%- endfor -%}
</ul>
