<div>
<header>
  <div class="home-link">
    <a href="{{ '/' | relative_url }}">{{ site.title | escape }}</a>
  </div>

  <span class="spacer"></span>

  <nav>
    {%- for page in site.data.navigation -%}
      <a href="{{ page.url | relative_url }}">{{ page.title | escape }}</a>
    {%- endfor -%}
  </nav>

  <div class="download-menu">
    Download
    {%- include downloads.html -%}
  </div>
</header>
</div>
