<head>
  <title>{{ page.title | escape }}</title>
  {%- feed_meta -%}

  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}" />

  <script defer data-domain="floodlight.gitlab.io" src="https://plausible.io/js/plausible.outbound-links.js"></script>
</head>
