html
  height: 100%

body
  display: flex
  flex-direction: column
  height: 100%

main
  flex-grow: 1

  padding-left: 1em
  padding-right: 1em

  img
    width: 100%
    max-width: 600px
    margin-left: auto
    margin-right: auto
    display: block

@mixin column
  @media (min-width: 800px)
    padding-left: 50px
    padding-right: 50px
  @media (min-width: 1000px)
    padding-left: 100px
    padding-right: 100px
main, .column
  @include column
