// because dark mode is the best mode

@media (prefers-color-scheme: dark)
  html, body
    background-color: #333
    color: #eee
  footer
    background-color: #333
  header
    .download-menu
      color: black
    *:not(.home-link)
      a, a:visited
        text-decoration: none
        color: white
  a
    color: lightblue
    &:visited
      color: mediumpurple
  .post-title
    .post-tags
      color: black
    .post-date
      color: lightgray
