ul.downloads
  list-style-type: none
  padding: 1em

  li
    padding: .5em
    .dl-distribution
      opacity: .6
    a
      font-weight: bold

.downloads-box
  .downloads
    display: flex
    justify-content: space-evenly
    align-items: center
    flex-wrap: wrap

    background-color: $accent

    a
      color: black
      text-decoration: none
      text-transform: uppercase
