footer
  @include column

  display: flex
  justify-content: space-between
  flex-wrap: wrap

  padding: 1em
  background-color: black
  color: white
  margin-top: 2em

  span
    margin-left: 1em
    margin-right: 1em

  a
    display: block
    line-height: 1.7
    color: white
    text-decoration: none
