header
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: center

  text-transform: uppercase

  background-color: black
  a
    text-decoration: none
    color: white

  .home-link
    text-align: center
    a
      color: $accent
      font-size: 3em
      font-style: italic
      font-family: $monospace
      padding-left: .2em
      line-height: 1em

  .spacer
    display: block

  nav
    flex-grow: 1

    display: flex
    flex-wrap: wrap
    justify-content: center
    a
      padding: 1em
      &.current, &:hover
        background-color: $accent

  .download-menu
    background-color: $accent
    padding: 1em
    position: relative
    display: inline-block
    font-weight: bold

    ul
      background-color: black

      display: none
      position: absolute
      right: 0
    &:hover ul
      display: block
