.homepage
  h1
    font-weight: normal
    text-transform: none

  .heres-how
    display: flex
    align-items: stretch
    flex-wrap: wrap

    div
      flex-basis: 0
      flex-grow: 1
      padding: 1em
      min-width: 150px

      a
        display: block
        text-align: center
        @include button
