$accent: rgb(244, 142, 35)
$monospace: monospace

@mixin button
  color: black
  text-decoration: none
  background-color: $accent
  padding: 1em
  font-weight: bold
.button, .button:visited
  @include button

.button-box
  display: flex
  flex-wrap: wrap

@import header
@import downloads
@import content
@import homepage
@import footer
@import post

html, body
  padding: 0
  margin: 0
  font-family: "Cantarell", "Verdana", sans-serif
  background-color: #eee

h1
  text-transform: uppercase

h2, h3
  margin-bottom: .2em

.notfound
  h1
    font-family: $monospace
    font-size: 3em

.gallery
  display: flex
  justify-content: flex-start
  flex-wrap: wrap
  margin-top: 1em
  margin-bottom: 1em
  img
    margin-right: 1em
  a
    text-decoration: none
  @media (max-width: 500px)
    img
      width: 100%
      height: auto
    a
      width: 100%

@import darkmode
