.post-tags
    .post-tag
        background-color: lightgrey
        padding: .5em
        border-radius: 3px
        text-transform: uppercase
        font-weight: bold
        font-size: .8em

.post-title
    display: flex
    align-items: center
    h2
        margin: 0
    .post-tags
        margin-left: .7em
        margin-right: .7em
    .post-date
        color: dimgray

.news-index .post-excerpt
    margin-bottom: 2em
