---
title: News
layout: page
permalink: /news
---

<p>Updates and occasional blog posts from the Floodlight project.</p>
<br/>

<div class="news-index">
  {%- for post in site.posts -%}
    <div class="post-excerpt">
      <span class="post-title">
        <h2>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h2>

        <span class="post-tags">
          {%- for tag in post.tags -%}
          <span class="post-tag">{{ tag | escape }}</span>
          {%- endfor -%}
        </span>

        <span class="post-date">{{ post.date | date: '%B %d, %Y' }}</span>
      </span>

      {{ post.excerpt }}
    </div>
  {%- endfor -%}
</div>
