---
layout: page
title: Resources
permalink: /resources
---

<h2><a href="/presenter/usermanual">User Manual</a></h2>
<p>
The user manual is a complete guide to Floodlight's features. It is also
accessible by clicking "Help" in Floodlight's main menu.
</p>

<h2>Motion Backgrounds</h2>

<p>
A few simple motion backgrounds. They are designed for Floodlight, but they
should work in any other presentation program. They loop perfectly and are each
1080p, 12.5 seconds long at 24 fps.
</p>

<div class="gallery">
{%- assign baseurl = "https://floodlight.gitlab.io/motion-backgrounds" -%}
{%- for background in site.data.backgrounds -%}

<a href="{{ baseurl }}/motion-backgrounds/{{ background.id }}.mov">
<img src="{{ baseurl }}/thumbnails/{{ background.id }}-small.png" width="320" height="180"/>
</a>

{%- endfor -%}
</div>

<div class="button-box">
<a class="button" style="margin-right: 1em" href="https://floodlight.gitlab.io/motion-backgrounds/motion-backgrounds.zip">
Download All
</a>
<a class="button" href="https://floodlight.gitlab.io/motion-backgrounds/motion-backgrounds-source.zip">
Download Blender Sources
</a>
</div>
