---
layout: base
---

<div class="post-title">
  <h1>{{ page.title | escape }}</h1>

  <span class="post-tags">
    {%- for tag in page.tags -%}
    <span class="post-tag">{{ tag | escape }}</span>
    {%- endfor -%}
  </span>
  <span class="post-date">{{ page.date | date: '%B %d, %Y' }}</span>
</div>

{{ content }}
